.darkmode * {
    color: var(--gray-20);
}

body.darkmode {
    background-color: black;
}

.darkmode a {
    color: white;
}

.darkmode .post .toc a {
    color: var(--gray-20);
}

.darkmode thead {
    border-bottom: 1px solid white;
}

.darkmode tbody tr {
    border-bottom: 1px solid var(--gray-80);
}

.darkmode td {
    color: var(--gray-30);
}

.darkmode .sibling-pages {
    background-color: var(--gray-90);
    color: var(--gray-10);
}


/* INDEX */

.darkmode .landing-cards-container {
    background-color: var(--gray-90);

}

.darkmode #index .landing-cards {
    background-color: var(--gray-90);
}

.darkmode #index a.landing-card {
    background-color: var(--gray-70);
}