.darkmode * {
    color: var(--gray-20);
}

.darkmode .light-version {
    display: none;
}

.darkmode .dark-version {
    display: block;
}

body.darkmode {
    background-color: black;
}

.darkmode strong {
    color: white;
}

.darkmode .post article a {
    color: var(--cool-gray-30);
}

.darkmode .post .toc a {
    color: var(--gray-20);
}

.darkmode thead {
    border-bottom: 1px solid white;
}

.darkmode tbody tr {
    border-bottom: 1px solid var(--gray-80);
}

.darkmode td {
    color: var(--gray-30);
}

.darkmode blockquote {
    border-left: 3px solid var(--gray-20);
}

.darkmode .sibling-pages {
    background-color: var(--gray-90);
    color: var(--gray-10);
}

/* SYNTAX */
.darkmode code.hljs {
    padding: 0;
    background: transparent;
}

.darkmode pre  {
    background-color: var(--gray-90);
}

/* INDEX */

.darkmode .landing-cards-container {
    background-color: var(--gray-90);

}

.darkmode #index .landing-cards {
    background-color: var(--gray-90);
}

.darkmode #index a.landing-card {
    background-color: var(--gray-70);
}