@import url("https://api.fontshare.com/css?f[]=satoshi@300,301,400,401,500,501,700,701,900,901&f[]=clash-grotesk@200,300,400,500,600,700&f[]=general-sans@200,201,300,301,400,401,500,501,600,601,700,701&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('colors.css');
@import url('darkmode.css');
@import url('scrollbar.css');
@import url('syntax.css'); 

:root {
    /* FONTS */
    /* --DM-Sans: 'DM Sans', sans-serif; */
    --Satoshi: 'Satoshi', sans-serif;
    --Clash: 'Clash Grotesk', sans-serif;
    --code-font: Consolas, 'Courier New', monospace; 

    /* COLORS */
    --bg-clr: #121317;
    --tbody: #202020;

    /* VALUES */
    --max-page-width: 1100px; 
    --radius: 5px;
}

/* width */
::-webkit-scrollbar {   
    width: 8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: var(--radius);
    background: rgba(150, 150, 150, 0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background: var(--gray-50);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    background: var(--gray-40);
}

/* SYNTAX */

pre code.hljs {
    padding: 0;
}

code.hljs {
    background: transparent;
}

* {
    padding: 0;
    margin: 0;
    font-family: var(--Satoshi);
    color: var(--gray-80);
}

html {
    scroll-behavior: smooth;
}

header #header-content, .content, .post, .sibling-pages, footer {
    padding: 0 calc(calc(100vw - var(--max-page-width)) / 2);
}

body {
    background-color: #fafafa;
}

p { 
    font-size: 16px;
    font-weight: 500; 
}

header {
    background-color: var(--black);
    border-bottom: 1px solid var(--cool-gray-80);
}

header #header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    /* padding: 0 100px; */
}

header a#logo {
    color: white;
    font-weight: 500;
    text-decoration: none;
    transition: 0.4s ease;
}

header a#logo:hover {
    color: var(--gray-30);
    transition: 0.4s ease;
}

header #theme-toggle {
    height: 20px;
    transform-origin: center;
    transition: 0.4s ease;
}

header #theme-toggle svg {
    height: 20px;
}

.light-version {
    display: block;
}

.dark-version {
    display: none;
}

.content {
    min-height: 80vh;
}

.post {
    min-height: calc(100vh - 44px - 74px - 70px);
    margin-top: 70px;
    display: inline-flex;
}

.mobile-toc {
    display: none;
}

.post .toc {
    width: 200px;
    margin-top: 50px;
    margin-right: 25px;
    padding-bottom: 25px;
    font-size: 14px;
    font-weight: 500;
}

.post .toc #topic {
    font-size: 14px;
    margin-bottom: 30px;
}

.post .toc ul li {
    margin: 10px 0;
}

ul ul {
    margin-left: 8px;
}

.post .toc ul li a {
    color: var(--gray-70);
}

.post article {
    padding-bottom: 20px;
}

.post article h1 {
    margin-bottom: 16px;
}

.post article table code { 
    line-height: 2em;
}

.post article table ul {
    margin-bottom: 0;
}

.post article table li {
    color: var(--gray-70);
}

.post article p {
    line-height: 1.5rem;
}

.post article a {
    color: var(--cool-gray-70);
    text-decoration: underline;
}

.post article ul {
    /* margin-top: -10px; */
    margin-left: 32px;
}

.post article ul li {
    margin-bottom: 5px;

}
.post article ul ul {
    margin-top: 5px;
    margin-bottom: 0;
}

.post article p,
.post article table,
.post article dl,
.post article pre,
.post article ol,
.post article ul {
    margin-bottom: 20px;
}

.post article h2,
.post article h3 {
    margin-top: 32px;
    margin-bottom: 10px;
}

.post article h4,
.post article h5,
.post article h6 {
    margin-top: 16px;
    margin-bottom: 8px;
}

.post .toc li {
    list-style-type: none;
}

.post article ol ul {
    margin-top: 6px;
}

.post article {
    width: calc(100% - 225px);
}

.sibling-pages {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: var(--gray-20);
}

.sibling-pages .sibling-page {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 18px;
    font-weight: 600;
    /* width: 100%;    */
}
/* 
.sibling-page:last-child {
    display: flex;
    justify-content: right;
    text-align: right;
} */

.sibling-page svg {
    height: 20px;
}

h1, h2, h3, h4, h5, h6 { font-weight: 600; }

h1 {
    font-size: 40px;
}

hr {
    border: none;
    border-top: 1px solid var(--gray-70);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: var(--gray-70);
}

table {
    display: block;
    overflow: auto;
    border-collapse: collapse;
    max-width: calc(var(--max-page-width) - 260px);
}

tr td,
tr th {
    padding-left: 10px;
}

tr td:last-child,
tr th:last-child {
    padding-left: 10px;
    padding-right: 10px;
}

.caption {
    display: flex;
    justify-content: center;
    margin-top: -12px;
    font-size: 14px;
}

table caption {
    width: calc(var(--max-page-width) - 260px);
    caption-side: bottom;
    font-size: 13px;
    margin-top: 8px;
    padding-bottom: 8px;
}

thead {
    border-bottom: 1px solid black;
}

th {
    padding-bottom: 4px;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
}

tbody {
    font-size: 14px;
}

tbody tr {
    border-bottom: 1px solid var(--gray-20);
}

td {
    font-weight: 500;
    padding: 8px 0;
    color: var(--gray-70);
}

ol {
    margin-left: 16px;
}

ol li {
    margin-bottom: 5px;

}
ol ol {
    margin-top: 5px;
}

dt {
    font-weight: 500;
    margin-bottom: 4px;
}

dd {
    margin-left: 24px;
    margin-bottom: 8px;
}

pre {
    display: block;
    padding: 13px;
    text-align: left;
    border-radius: var(--radius);
    background-color: var(--gray-20);
    /* background-color: #282C34; */
    /* background-color: rgba(200, 200, 200, 0.3); */
    overflow-x: auto;
}

:not(pre) > code {
    padding: 2px 5px;
    font-size: 15px;
    border-radius: var(--radius);
    background-color: rgba(150, 150, 150, 0.3);
    font-family: var(--code-font);
}

code {
    font-family: var(--code-font);
}

code * {
    font-family: var(--code-font);
}

blockquote {
    padding-left: 10px;
    border-left: 3px solid var(--gray-80);
}

img {
    margin: auto 5%;
    padding: 0;
    max-width: 90%;
    border-radius: var(--radius);
}

figure {
    text-align: center;
}

figcaption {
    font-size: 14px;
    color: var(--gray-30);
}

footer {
    text-align: center;
    /* min-height: calc(20vh - 44px); */
    background-color: var(--black);
}

footer * {
    color: var(--gray-30);
}

#footer-content {
    padding-top: 25px;
    padding-bottom: 25px;
}

tag {
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
}

/* pre, hr */

.vertical-align {
    display: flex;
    align-items: center;
}

a.btn {
    display: inline-block;
    padding: 6px 16px;
    border-radius: 25px;
    color: white;
    background-color: var(--blue-60);
    transition: 0.4s ease;
}

a.btn:hover {
    background-color: #0e76ff;
    text-decoration: none;
    transition: 0.4s ease;
}

/* INDEX */

#index {
    margin: auto;
    padding-top: 60px;
    min-height: 100vh;
}

#index * {
    text-align: center;
}

#index .btn {
    margin-top: 25px;
}

#index .landing {   
    padding-bottom: 50px;
}

.landing-cards-container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--gray-20);
}

#index .landing-cards {
    margin: auto;
    margin-top: 15px;
    max-width: var(--max-page-width);
}

#index h1 {
    font-size: 50px;
    margin-top: 15px;
}

#index h2 {
    font-size: 40px;
}

#index .index-desc {
    font-size: 24px;
    font-weight: 500;
}

#index .landing-cards {
    justify-content: center;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 30px 20px;
    padding: 30px;
}

#index a.landing-card {
    padding: 15px;
    border-radius: var(--radius);
    background-color: var(--gray-30);
}

#index .landing-cards a,
#index .landing-cards a:hover {
    text-decoration: none;
}