.highlight .language-java table td { padding: 5px; }
.highlight .language-java table pre { margin: 0; }
.highlight .language-java .c, .highlight .language-java .ch, .highlight .language-java .cd, .highlight .language-java .cm, .highlight .language-java .cpf, .highlight .language-java .c1 {
  color: #888888;
}
.highlight .language-java .cp {
  color: #cc0000;
  font-weight: bold;
}
.highlight .language-java .cs {
  color: #cc0000;
  background-color: #fff0f0;
  font-weight: bold;
}
.highlight .language-java .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .language-java .gr {
  color: #aa0000;
}
.highlight .language-java .gh {
  color: #333333;
}
.highlight .language-java .gu {
  color: #666666;
}
.highlight .language-java .gd {
  color: #000000;
  background-color: #ffdddd;
}
.highlight .language-java .gi {
  color: #000000;
  background-color: #ddffdd;
}
.highlight .language-java .ge {
  font-style: italic;
}
.highlight .language-java .gs {
  font-weight: bold;
}
.highlight .language-java .gl {
  color: #888888;
}
.highlight .language-java .go {
  color: #888888;
}
.highlight .language-java .gp {
  color: #555555;
}
.highlight .language-java .gt {
  color: #aa0000;
}
.highlight .language-java .k, .highlight .language-java .kc, .highlight .language-java .kd, .highlight .language-java .kn, .highlight .language-java .kr, .highlight .language-java .kv {
  color: #008800;
  font-weight: bold;
}
.highlight .language-java .kp {
  color: #008800;
}
.highlight .language-java .kt {
  color: #888888;
  font-weight: bold;
}
.highlight .language-java .m, .highlight .language-java .mb, .highlight .language-java .mf, .highlight .language-java .mh, .highlight .language-java .mi, .highlight .language-java .il, .highlight .language-java .mo, .highlight .language-java .mx {
  color: #0000dd;
  font-weight: bold;
}
.highlight .language-java .s, .highlight .language-java .sb, .highlight .language-java .sc, .highlight .language-java .dl, .highlight .language-java .sd, .highlight .language-java .s2, .highlight .language-java .sh, .highlight .language-java .s1 {
  color: var(--green-60);
}
.highlight .language-java .sa {
  color: #008800;
  font-weight: bold;
}
.highlight .language-java .se {
  color: #0044dd;
  background-color: #fff0f0;
}
.highlight .language-java .si {
  color: #3333bb;
  background-color: #fff0f0;
}
.highlight .language-java .sx {
  color: #22bb22;
  background-color: #f0fff0;
}
.highlight .language-java .sr {
  color: #008800;
}
.highlight .language-java .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
.highlight .language-java .na {
  color: #336699;
}
.highlight .language-java .nb, .highlight .language-java .bp {
  color: #003388;
}
.highlight .language-java .nc {
  color: #bb0066;
  font-weight: bold;
}
.highlight .language-java .no {
  color: #003366;
  font-weight: bold;
}
.highlight .language-java .nd {
  color: #555555;
}
.highlight .language-java .ne {
  color: #bb0066;
  font-weight: bold;
}
.highlight .language-java .nf, .highlight .language-java .fm {
  color: #0066bb;
  font-weight: bold;
}
.highlight .language-java .nl {
  color: #336699;
}
.highlight .language-java .nn {
  color: #bb0066;
  font-weight: bold;
}
.highlight .language-java .py {
  color: #336699;
  font-weight: bold;
}
.highlight .language-java .nt {
  color: #bb0066;
  font-weight: bold;
}
.highlight .language-java .nv, .highlight .language-java .vc, .highlight .language-java .vm {
  color: #336699;
}
.highlight .language-java .vg {
  color: #dd7700;
}
.highlight .language-java .vi {
  color: #3333bb;
}
.highlight .language-java .ow {
  color: #008800;
}
.highlight .language-java .w {
  color: #bbbbbb;
}
