<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="..{{ site.baseurl }}/assets/icons/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="..{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" type="text/css" href="..{{ site.baseurl }}/css/tablet.css" media="screen and (max-width: 1100px)">
    <link rel="stylesheet" type="text/css" href="..{{ site.baseurl }}/css/phone.css" media="screen and (max-width: 800px)">
    <script 
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
        crossorigin="anonymous">
    </script>
</head>